#title {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}

.addRequestButton {
  margin-left: 5rem;
}

@media only screen and (max-width: 900px) {
  #title {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }

  body{
    font-size: 70%;
  }

  .addRequestButton {
    margin-left: 1rem;
  }
}
